<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cl.json">
    <application>
        <activity android:name=".activity.RNShareActivity">
            <intent-filter
                android:label="@string/rn_share_download"
                android:icon="@drawable/ic_rn_share_download">
                <action android:name="cl.json.intent.DOWNLOAD"/>
                <data android:mimeType="text/url"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
